@model IEnumerable<NumizmatDictionary.Models.Coins>

@{
    ViewData["Title"] = "Index";
}

<h1>Список монет</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Добавить монету</button></a>
</p>

<form asp-controller="Coins" asp-action="Index">
    <p>
        Поиск: <input type="text" name="SearchString">
        <button type="submit" class="btn btn-success">Искать</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.CoinsName), "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Country), "Index", new { sortOrder = ViewBag.CountrySortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.FaceValue), "Index", new { sortOrder = ViewBag.FaceValueSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Year), "Index", new { sortOrder = ViewBag.YearSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.MetalOrAlloy), "Index", new { sortOrder = ViewBag.MetalOrAlloySortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.NumberOfCoins), "Index", new { sortOrder = ViewBag.NumberOfCoinsSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Features), "Index", new { sortOrder = ViewBag.FeaturesSortParm })
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CoinsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaceValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetalOrAlloy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCoins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="submit" class="btn btn-success" id="editt">Редактировать</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-secondary" id="detailss">Детали</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger" id="deletee">Удалить</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
