@model IEnumerable<NumizmatDictionary.Models.Coins>

@{
    ViewData["Title"] = "Index";
}

<h1>Список монет</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Добавить список</button></a>
</p>

<form asp-controller="Coins" asp-action="Index">
    <p>
        Поиск: <input type="text" name="SearchString">
        <button type="submit" class="btn btn-success">Фильтр</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoinsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetalOrAlloy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCoins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CoinsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaceValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetalOrAlloy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCoins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="submit" class="btn btn-success" id="editt">Редактировать</button></a> 
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-secondary" id="detailss">Детали</button></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger" id="deletee">Удалить</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
